nav{
    background-color: #1F2937;
    /*will make logo and links flexbox items within nav bar*/
    display: flex;
    justify-content: space-evenly;
    margin: -10px;
    padding: 15px;

}

.hero-title{
    color: white; 
    font-size: 48px; 
    font-family: 'Roboto', sans-serif; 
    font-weight: bold; 
}
.hero-title.hero-text{
    font-size:small;
}

.hero-right{
    color: white;
    font-family: 'Roboto', sans-serif;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.hero-div{
    display: flex;
    background-color: #1F2937;
    margin: -10px;
    justify-content: space-around;
    height: 400px;
    align-items: center;
}


#under-header-title{
    text-align: center;
}
.images-captions{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 35px;
}

.quote{
    margin: -10px;
    font-family: 'Roboto', sans-serif;
    padding: 43px;
    font-size: 36px;
    font-style: italic;
    display: flex;
    background-color: #e5e7eb;
}
#quote-person{
    padding-bottom: 30px;
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    display: flex;
    background-color: #e5e7eb;
    justify-content: right;
    text-decoration: underline;
}
.below-quote{
    display: flex;
    padding: 100px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
}
.sign-up-label{
    padding-left: 185px;
    padding-right: 185px;
    color: white;
    display: flex;
    background-color: #3882f6;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 9px;
}
.button-header{
    display: flex;
    justify-content: space-around;
}
.button-title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.button-caption{
    font-family: 'Roboto', sans-serif;
}
.button{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color:white;
    background-color:#3882f6;
    border-color: whitesmoke;
    border-radius: 5px;
}
footer{
    margin: -10px;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    background-color: #1F2937;
    padding: 50px;
    justify-content: center;

}

/*ur cute <3*/