nav{
    background-color: #15ca88;
    /*will make logo and links flexbox items within nav bar*/
    display: flex;
    justify-content: space-between;
    padding: 15px
}
.logo{
    font-size: 24px;
    color: #1561ca;
}
.hero-div{
    display: flex;
    background-color: #15ca88;
    justify-content: space-evenly;
}